.lines{
    width: 100%;
    height: 20px;
    position: relative;
}

.bigContainer2{
  position: absolute;
  top: 46px;
  min-height: 100%;
  width: 100vw;
}

.lines::after{
    content:'';
    position: absolute;
    margin: auto;
    height: 2px;
    background: black;
    width: 45%;
    top: 45%;
    left: 0;
}

.lines::before{
    content:'';
    position: absolute;
    margin: auto;
    height: 2px;
    background: black;
    width: 45%;
    top: 45%;
    right: 0;
}

.diamond{
    height: 15px;
    width: 15px;
    border: 2px solid black;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    transform: rotate(45deg);
}

.login_required{
    padding: 0px 15px;
}

/* .Profile-avatar{
    background-image: url("../../public/squirrelpic.jpg")
} */

.Profile-name{
    padding: 0px 15px;
    text-align: center;
}

.container{
    padding: 0px 15px;
    position: relative;
    padding-top: 500px;
}

.Profile-avatar{
    padding: 15px 15px 0 15px;
}

#sq_img {
    border-radius: 50%;
    height: 200px;
}

/* .u-textLeft {
    padding-left: 15px;
} */

.right {
    /* text-align: right;
    padding-right: 200px;
    padding-top: 100px; */
    display: flex;
    justify-content: flex-end;
    /* padding: 200px 400px 200px 200px; */
    right: auto;
}
.center {
    text-align: center;
}

.buttonCust {
    font-size: x-large;
    text-align: center;
}

.headers{
    font-weight: bolder;
    color: rgb(14, 14, 171);
    font-size: 20px;
}

.Profile-container{
    text-align: center;
}
.Profile-info{
    display: inline-block; 
    text-align: left;
}
