/* Color Groups: #2F1710 #425164 #DABB96 #899FB6
*/

:root {
    --background_color: white;
    --foreground_color_dark: #425164;
    --foreground_color_light: #899FB6;
    --tan: #DABB96;
    --brown: #2F1710;
}

.bigContainer{
  position: absolute;
  top: 46px;
  min-height: 100%;
  width: 100vw;
  padding: 15px 0px 0px 8px;
}

.messagesColumn {
  text-align: center;
  width: 75%;
  font-weight: bold;
  font-size: x-large;
  padding-left: 20px;
  padding-right: 20px;

  border: black;
  border-style:solid;
  border-width: 2px;
  border-radius: 10%;
  padding-top: 4px;
}

.forumColumn {
  text-align: center;
  width: 75%;
  font-weight: bold;
  font-size: x-large;
  padding-left: 20px;
  padding-right: 20px;
  
  border: black;
  border-style:solid;
  border-width: 2px;
  border-radius: 10%;
  padding-top: 4px;
}

.eventsColumn {
  /* text-align: center; */
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  font-weight: bold;
  font-size: x-large;
  padding-left: 20px;
  padding-right: 20px;
  border: black;
  border-style:solid;
  border-width: 2px;
  border-radius: 10%;
  padding-top: 4px;
}

.recommendationsColumn{
  /* text-align: center; */
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  font-weight: bold;
  font-size: x-large;
  position: relative;
  top: 50px;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  font-weight:bold;
  font-size: larger;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.HomeContainer { 
  display: grid;
  grid-template-columns: 1.5fr 2.5fr 1.5fr;
  text-align: center;
  
} 

.unloggedinHomeContainer{
  display: grid;
  grid-template-columns: 1.5 fr;
  text-align: center;
}

.Title {
  text-align: center;
  font-size: x-large;
  font-weight: bold;
  background-color: antiquewhite;
  text-decoration: none;
  color: black;
}


.lines2{
  width: 100%;
  /* height: 20px; */
  position: relative;    
  content:'';
  /* position: absolute; */
  margin: auto;
  height: 2px;
  background: black;
  /* width: 45%; */
  /* top: 45%; */
  left: 0;
  margin: 4px 0px;
}
