/* Color Groups: #2F1710 #425164 #DABB96 #899FB6
*/

:root {
    --background_color: white;
    --foreground_color_dark: #425164;
    --foreground_color_light: #899FB6;
    --tan: #DABB96;
    --brown: #2F1710;
}

.bigContainer{
  position: absolute;
  top: 46px;
  min-height: 100%;
  width: 100vw;
}

.messagesColumn {
  text-align: center;
  width: 75%;
  font-weight: bold;
  font-size: x-large;
  padding-left: 20px;
  padding-right: 20px;
  /* text-decoration: none; */
}

.forumColumn {
  text-align: center;
  width: 75%;
  font-weight: bold;
  font-size: x-large;
  padding-left: 20px;
  padding-right: 20px;
}
.eventsColumn {
  /* text-align: center; */
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  font-weight: bold;
  font-size: x-large;
  padding-left: 20px;
  padding-right: 20px;
}
.recommendationsColumn{
  /* text-align: center; */
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  font-weight: bold;
  font-size: x-large;
  position: relative;
  top: 50px;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  font-weight:bold;
  font-size: larger;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.HomeContainer { 
  display: grid;
  grid-template-columns: 1.5fr 2.5fr 1fr;
  text-align: center;
  
} 

.unloggedinHomeContainer{
  display: grid;
  grid-template-columns: 1.5 fr;
  text-align: center;
}

.Title {
  text-align: center;
  font-size: x-large;
  font-weight: bold;
  background-color: antiquewhite;
  text-decoration: none;
  color: black;
}
<<<<<<< HEAD

.Title:hover{
  font-weight: 900;
}
/* .Title:visited{
} */

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.middle {
  margin: 0;
  position: absolute;
  left: 12%;
}
.block {
  display: block;
  width: 100%;
  border: none;
  background-color: #04AA6D;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}
=======
>>>>>>> 9ceba4eeea92a331a57cd3547f4f76cd3088ef0b
