.NavBar-container {
    padding: var(--s) var(--m);
    background: #425164;
    /* width: 100%; */
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .NavBar-title {
    color: var(--white);
    font-size: 21px;
  }

  /* .NavBar-linkContainer { */
    /* margin-left: var(--l); */
    /* margin-left: auto; */
    /* margin-right: 0; */
  /* } */
  .NavBar-linkContainer {
    display: block;
    width: fit-content;
  }
  
  .NavBar-link,
  .NavBar-link:visited {
    color: var(--white);
    opacity: 0.6;
    text-decoration: none;
  }
  
  .NavBar-link:hover {
    opacity: 0.8;
    font-size: 21px;
  }
  
  .NavBar-link + .NavBar-link {
    margin-left: var(--m);
  }
  
  /* .right-align{
    justify-content: flex-end;
  }

  .icons{
    margin-left: auto;
    margin-right: 0;
    justify-content: flex-end;
    text-align: right
} */